<form method ="POST" action="/new">
    <h1>New Message</h1>
    <div>
        <label for="user">User</label>
        <input type="text" name="user" id="user" required>
    </div>
    <div>
        <label for="message">Message</label>
        <textarea name="message" id="message" required></textarea>
    </div>
    <div>
        <button type="submit">Send</button>
        <button type="button" onclick="window.location.href='/'">Cancel</button>
    </div>


</form>